@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(59, 130, 246, 0.2); /* Tailwind blue-500/20 */
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(59, 130, 246, 0.35);
    cursor: grab;
}
::-webkit-scrollbar-thumb:active {
    background: rgba(59, 130, 246, 0.35);
    cursor: grabbing;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(59, 130, 246, 0.2) transparent;
}
